body {
    font-family: Arial, sans-serif;
    background-color: #fbfdff;
    margin: 0;
    padding: 0;
}

.containerpendaftaran {
    width: 80%;
    margin: 20px auto;
    background-color: #ccf1f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: left;
    margin-bottom: 20px;
    
}
header {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #0c0c0c;
    padding: 10px;
    border-radius: 5px;
}

legend {
    
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}
